/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Lato */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} 